*{
    box-sizing: border-box;
}

#heroroad{
    height: 250px;
    background-image: url('/img/heroroad.jpg');
    background-size: 100% 100%;
}

#heromugs{
    height: 250px;
    background-image: url('/img/heromugs.jpg');
    background-size: 100% 100%;
}

#heroguitar{
    height: 250px;
    background-image: url('/img/heroguitar.jpg');
    background-size: 100% 100%;
}

body {
    background-color:#FCEBB6;
    color:#221811;
    font-family:Verdana,Arial,sans-serif;
    background-image: url('img/background.gif');
}

header {
    background-color:#D2B48C;
    /*text-align: center;*/
    height: 150px;
    background-image: url("/img/javajamlogo.jpg");
    background-repeat: no-repeat;
}

main {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 2em;
    padding-top: 0;
    margin-left: 200px;
    background-color: #FEF6C2;
}

main h2, main h3, main h4, main p, main div, main ul, main dl {
    padding-left: 3em;
    padding-right: 2em;
}

h1 {
    /*line-height: 200%;*/
    padding-top: 45px;
    padding-left: 220px;
    font-size: 3em;
}

h4 {background-color: #D2B48C;
    font-size: 1.2em;
    padding-left: .5em;
    padding-bottom: .25em;
    text-transform: uppercase;
    border-bottom: 2px solid #231814;
    padding-bottom: 0;
    clear: left;
}

nav{
    text-align: center;
    font-weight: bold;
    padding-top: 10px;
    font-size: 1.5em;
    float: left;
    width: 200px;
}

nav a {
    text-decoration: none;
}

nav a:link{
   color: #FEF6C2;
}

nav a:visited{
   color: #D2B48C;
}

nav a:hover{
   color: #CC9933;
}

nav ul {
    list-style-type: none;
    padding-left: 0;
}

footer {
    background-color: #D2B48C;
    font-size: .60em;
    text-align: center;
    font-style: italic;
    padding-bottom: 10px;
    border-top: 2px #221811;
}

#wrapper {
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    /*background-color: #FEF6C2;*/
    background-color: #231814;
    min-width: 900px;
    max-width: 1280px;
    box-shadow: 3px 3px 3px #333333;
}

div.details {
    padding-left: 20%;
    padding-right: 20%;
    overflow: auto;
}

img {
    padding-left: 10px;
    padding-right: 10px;
}

.floatleft {
    float: left;
    padding-right: 2em;
    padding-bottom: 2em;
}

header, nav, main, footer { 
    display: block; 
}

table{
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    border-spacing: 0;
    background-color: #FFFFCC;
}

td, th {
    padding: 10px;
}

tr:nth-of-type(odd) {
    background-color: #D2B48E;
}

form {
    padding: 2em;
}

label {
    float: left;
    text-align: right;
    width: 8em;
    padding-right: 1em;
}

input, textarea {
    display: block;
    margin: 1em;
}

#mySubmit{
    margin-left: 9.5em;
}

#herojobs {
    height: 250px;
    background-image: url('img/herojobs.jpg');
    background-size: 100% 100%;
}
